<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>

        <ul>
            <li th:each="city : ${wanderlist.cities}" th:text="${city.name}"></li>
        </ul>

<!--        <div class="form-group">-->
<!--            <label th:for="type">Country</label>-->
<!--            <select name="countryId">-->
<!--                <option th:each="country : ${country}"-->
<!--                        th:text="${country.name}"-->
<!--                        th:value="${country.id}"></option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <input type="submit" value="Add" />-->



        <p><a th:href="'/wanderlist/add-item/' + ${wanderlist.id}">Add City</a></p>

    </body>
</html>