<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${wanderlists} and ${wanderlists.size()}">no lists :(</p>

<ul>
    <li th:each="wanderlist : ${wanderlists}">
        <a th:href="'wanderlist/view/' + ${wanderlist.id}" th:text="${wanderlist.name}"></a>
    </li>
</ul>

<a th:href="@{wanderlist/add}">Add List</a>

</body>
</html><!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--    <head th:replace="fragments :: head"></head>-->

<!--    <body class="container">-->

<!--        <h1 th:text="${title}">Default Title</h1>-->

<!--        <nav th:replace="fragments :: navigation"></nav>-->

<!--        <ul>-->
<!--            <li th:each="city : ${wanderlist.cities}" th:text="${city.name}"></li>-->
<!--        </ul>-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;            <label th:for="type">Country</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <select name="countryId">&ndash;&gt;-->
<!--&lt;!&ndash;                <option th:each="country : ${country}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:text="${country.name}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:value="${country.id}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <input type="submit" value="Add" />&ndash;&gt;-->



<!--        <p><a th:href="'/wanderlist/add/' + ${wanderlist.id}">Add City</a></p>-->

<!--    </body>-->
<!--</html>-->