<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class="container">

        <h1 th:text="${title}">Default Title</h1>

        <nav th:replace="fragments :: navigation"></nav>
        <a href="/activity/add">Add Activity</a> |
        <a href="activity/remove">Remove Activity</a>


        <table class="table">

            <tr>
                <th>Edit</th>
                <th>Name</th>
                <th>Description</th>
                <th>Items </th>
                <th>Location</th>
            </tr>

            <tr th:each="activity :${activities}">
                <td><a th:href="'activity/edit/' + ${activity.id}" th:text="Edit"></a></td>
                <td th:text="${activity.name} + ' (' + ${activity.id} + ')'"></td>
                <td th:text="${activity.description}"></td>
                <td th:text="${activity.items}"></td>
                <td th:text="${activity.location}"></td>
            </tr>

        </table>

<!--         <ul>-->

<!--                <li th:each="activity : ${activity}"-->
<!--                    th:text="${activity.getName()}"></li>-->

<!--            </ul>-->

<!--&lt;!&ndash;        <p th:unless="${activity} and ${activities.size()}">no wanderlists :(</p>&ndash;&gt;-->

<!--        <ul>-->
<!--            <li th:each="activity : ${activities}">-->
<!--                <a th:href="'activity/view/' + ${activity.id}" th:text="${activity.name}"></a>-->
<!--            </li>-->
<!--        </ul>-->

    </body>
</html>

<!--<nav th:replace="fragments :: navigation"></nav>-->
<!--<a href="/activity/add">Add Activity</a>-->
<!--<ul>-->

<!--    <li th:each="activity : ${activity}"-->
<!--        th:text="${activity.getName()}"></li>-->

<!--</ul>-->
<!--</body>-->
<!--</html>-->