<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="activity : ${activities}" class="checkbox">
        <input type="checkbox" name="activityIds" th:value="${activity.id}" th:id="${activity.id}"/>
        <label th:for="${activity.id}" th:text="${activity.name}"></label>
        <br />
    </div>

    <input type="submit" value="Remove Activity" />
</form>

</body>
</html>