<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cities</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/city">List City</a> |
    <a href="/city/add">Add City</a> |
    <a href="/city/remove">Remove City</a> |
    <a href="/country">Country</a> |
    <a href="/wanderlist">Wander List</a> |
    <a href="/wanderlist/add">Add List</a>
</nav>

</body>
</html>