<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${country}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="language">Language(s)</label>
        <input class="form-control" th:field="*{language}" />
        <span th:errors="*{language}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="currency">Currency</label>
        <input class="form-control" th:field="*{currency}" />
        <span th:errors="*{currency}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="capital">Capital</label>
        <input class="form-control" th:field="*{capital}" />
        <span th:errors="*{capital}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="drivingside">Driving Side</label>
        <input class="form-control" th:field="*{drivingside}" />
        <span th:errors="*{drivingside}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="callingcode">Calling Code</label>
        <input class="form-control" th:field="*{callingcode}" />
        <span  th:errors="*{callingcode}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="est">Established</label>
        <input class="form-control" th:field="*{est}" />
        <span  th:errors="*{est}" class="error"></span>
    </div>




    <input type="submit" value="Add" />
</form>

</body>
</html>