<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<a href="/country/add">Add Country</a>

<table class="table">

<tr>

    <th>Name</th>
    <th>Language</th>
    <th>Currency</th>
</tr>


    <tr th:each="country : ${country}">
<!--        <td><a th:href="'city/edit/' + ${city.id}" th:text="Edit"></a></td>-->
<!--        <td th:text="${city.name} + ' (' + ${city.id} + ')'"></td>-->
<!--        <td th:text="${city.description}"></td>-->
        <td th:text="${country.name}"></td>
        <td th:text="${country.language}"></td>
        <td th:text="${country.currency}"></td>
    </tr>


</table>

<!--<ul>-->

<!--    <li th:each="acountry : ${country}"-->
<!--        th:text="${acountry.getName()}"></li>-->

<!--</ul>-->
</body>
</html>